@media screen and (max-width:576px) {
    nav{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 5px;
        justify-content: center;
    }
    .banner-content{
        text-align: center;
    }
    .banner-img{
        width: 100%;
        padding: 30px;
        background-position: center ;
    }
    .company-container{
        padding: 50px;
    }

    .collections{
        grid-template-columns: repeat(1, 1fr);
    }
    .collection{
        padding-inline: 50px;
    }
    .see-more{
        position: static !important;
        margin-left: 240px;
        font-size: .8rem;
    }
    .featured-container{
        flex-direction: column-reverse;
        margin-top: 20px;
        padding-inline: 20px;
        text-align: center;
    }
    .featured-content{
        margin-top: 50px;
    }
    .featured-img img{
      width: 100%;
      padding: 30px;
    }
    
}